* {
  font-family: sans-serif, serif, Arial, "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana;
}

:root {
  --green: darkolivegreen;
  --blue: darkslategray;
  --white: antiquewhite;
  --per1: 1%;
  --px10: 10px;
  --align: flex-start;
  --f: flex;
  --w: wrap;
  --c: column;
}

body {
  font-size: 16px;
}

header {
  width: 100vw;
  display: var(--f);
  flex-wrap: var(--w);
  flex-direction: var(--c);
}

.title {
  background-color: var(--green);
}

h1 {
  font-size: 30px;
  padding: var(--px10);
}

header p {
  padding: var(--px10);
  color: var(--white);
}

.gold {
  color: gold;
}
.gold:hover {
  color: goldenrod;
}

nav ul {
}

.menu {
}

nav ul li {
  float: inline-start;
  padding: 0.5%;
}

.nav-links:hover {
  background-color: var(--blue);
}

nav ul li a {
  color: var(--white);
}

main {
  display: var(--f);
  align-items: var(--align);
  justify-content: var(--align);
  flex-wrap: var(--w);
}

.style {
  background-color: darkgray;
}

div {
}

.snippets {
  margin: var(--per1) var(--per1) 0 var(--per1);
}
.snippets-2 {
  margin: var(--per1);
}

section {
  color: var(--white);
  background-color: dimgray;
}

.card {
  flex: 1;
  padding: 5%;
  border: var(--px10) solid var(--green);
}

.card:hover {
  background-color: var(--green);
  border: var(--px10) solid var(--blue);
}

section h4 {
  flex-direction: var(--c);
  text-align: center;
}

.card-header {
}

pre {
}

.line-numbers {
  color: black;
}

code {
}

.language-css {
}

footer {
  padding: var(--per1);
}

.sign-off {
  background-color: var(--green);
}
